.bg-black
{
    background-color: black;
    color: white;
}
.bg-gray
{
    background-color: #121212;
    color: white;
}
.invert
{
    filter: invert(1);
}
.rounded
{
    border-radius: 6px;
}
.m-1
{
    margin: 5px;
}
.p-1
{
    padding: 10px;
}